<pre>PLAY [webservers] ****************************************************************************************

TASK [Gathering Facts] ***********************************************************************************
<font color="#4E9A06">ok: [89.208.230.171]</font>

TASK [apt-get update] ************************************************************************************
<font color="#4E9A06">ok: [89.208.230.171]</font>

TASK [install nginx] *************************************************************************************
<font color="#C4A000">changed: [89.208.230.171]</font>

TASK [create www directory] ******************************************************************************
<font color="#C4A000">changed: [89.208.230.171]</font>

TASK [delete default nginx site] *************************************************************************
<font color="#C4A000">changed: [89.208.230.171]</font>

TASK [copy nginx site.conf] ******************************************************************************
<font color="#C4A000">changed: [89.208.230.171]</font>

RUNNING HANDLER [restart nginx] **************************************************************************
<font color="#C4A000">changed: [89.208.230.171]</font>

PLAY RECAP ***********************************************************************************************
<font color="#C4A000">89.208.230.171</font>             : <font color="#4E9A06">ok=7   </font> <font color="#C4A000">changed=5   </font> unreachable=0    failed=0    skipped=0    rescued=0    ignored=0   
</pre>
