<pre>PLAY [webservers] ****************************************************************************************

TASK [Gathering Facts] ***********************************************************************************
<font color="#4E9A06">ok: [89.208.230.171]</font>

TASK [sync website] **************************************************************************************
<font color="#4E9A06">ok: [89.208.230.171]</font>

TASK [restart nginx] *************************************************************************************
<font color="#C4A000">changed: [89.208.230.171]</font>

PLAY RECAP ***********************************************************************************************
<font color="#C4A000">89.208.230.171</font>             : <font color="#4E9A06">ok=3   </font> <font color="#C4A000">changed=1   </font> unreachable=0    failed=0    skipped=0    rescued=0    ignored=0</pre>
